<app-navbar></app-navbar>
<!-- <br>< br> -->
<!-- <p>mis-turnos-especialista works!</p> -->
<!-- <div class="row" *ngIf="usuarioLogueado != null && verTabla == true"> -->
<div class="row" *ngIf="usuarioLogueado != null">
    <div class="col-md-10 mx-auto mt-4" *ngIf="usuarioLogueado.perfil == 'especialista' || usuarioLogueado.perfil == 'administrador'">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center mb-3">Mis turnos</h1>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <!-- <th class="text-center">Nº</th> -->
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Hora</th>
                            <th class="text-center">Profesional</th>
                            <th class="text-center">Especialidad</th>
                            <th class="text-center">Paciente</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let turno of listadoTurnos let i=index">
                        <tr>
                            <!-- <td class="text-left" class="text-center">{{i+1}}</td> -->
                            <td class="text-left" class="text-center">{{turno.diaTurno}}</td>
                            <td class="text-left" class="text-center">{{turno.horarioTurno}}</td>
                            <td class="text-left" class="text-center">{{turno.especialista!.nombre}} </td>
                            <td class="text-left" class="text-center">{{turno.especialidad!.descripcion}} </td>
                            <td class="text-left" class="text-center">{{turno.paciente!.nombre}}</td>
                            <td class="text-left" class="text-center">{{turno.estado}}</td>
                            <td class="text-left" class="text-center">
                                <button type="button" class="btn btn-danger"
                                    (click)="cancelarTurno(turno)" *ngIf="turno.estado != 'Cancelado' && turno.estado != 'Rechazado' && turno.estado != 'Finalizado'"> 
                                    <!-- && turno.estado != 'Aceptado'"> -->
                                    Cancelar
                                </button>
                                <div *ngIf="usuarioLogueado.perfil == 'especialista'">
                                    <button type="button" class="btn btn-dark"
                                        (click)="rechazarTurno(turno)" *ngIf="turno.estado != 'Rechazado' && turno.estado != 'Cancelado' && turno.estado != 'Aceptado' && turno.estado != 'Finalizado'">
                                        Rechazar
                                    </button>

                                    <button type="button" class="btn btn-success"
                                        (click)="aceptarTurno(turno)" *ngIf="turno.estado != 'Cancelado' && turno.estado != 'Aceptado' && turno.estado != 'Finalizado'">
                                        Aceptar
                                    </button>

                                    <button type="button" class="btn btn-primary"
                                        (click)="finalizarTurno(turno)" *ngIf="turno.estado == 'Aceptado'">
                                        Finalizar
                                    </button>

                                    <button type="button" class="btn btn-info"
                                        (click)="verResenia(turno)" *ngIf="turno.comentarioEspecialista != '' || turno.comentarioPaciente != ''">
                                        Ver reseña
                                    </button>

                                    <button type="button" class="btn btn-info"
                                        (click)="historiaClinica(turno)" *ngIf="turno.estado == 'Finalizado'">
                                        Historia clínica
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div *ngIf="cancelarTurnoPantalla">
    <app-turno-cancelar (OpcionEvent)="eventoCancelarTurno($event)" (mensajeEvent)="eventoMensaje($event)">
    </app-turno-cancelar>
</div>

<div *ngIf="rechazarTurnoPantalla">
    <app-turno-rechazar (OpcionEvent)="eventoRechazarTurno($event)" (mensajeEvent)="eventoMensaje($event)">
    </app-turno-rechazar>
</div>
  
<div *ngIf="finalizarTurnoPantalla">
    <app-turno-finalizar (OpcionEvent)="eventoFinalizarTurno($event)" (mensajeEvent)="eventoMensaje($event)">
    </app-turno-finalizar>
</div>
  
<div *ngIf="historiaClinicaPantalla">
    <app-historia-clinica (historiaEvent)="eventoHistoriaClinica($event)" (mensajeEvent)="eventoMensaje($event)">
    </app-historia-clinica>
</div>

<div *ngIf="verReseniaTurnoPantalla && turnoActual != null">

    <div class="row">
      <div class="col-md-10 mx-auto mt-4">
          <div class="card">
              <div class="card-header">
                  <h3 class="text-center">Reseña / comentario</h3>
              </div>
              <div class="card-body">
                  <div class="mb-3">
                      
                      <!-- <h6 class="text-center">Por favor ingrese un comentario/reseña del turno </h6> -->
                      <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                        Comentario especialista: {{turnoActual.comentarioEspecialista}}</div>
                      <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                        Comentario paciente: {{turnoActual.mensajeCalificacionAtencion}}</div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- <app-turno-resenia (reseniaEvent)="eventoVerResenia($event)" ></app-turno-resenia> -->
</div>
  
  