<app-navbar></app-navbar>
<!-- <br>< br> -->
<!-- <p>solicitar-turno works!</p>
 -->
<div class="row" *ngIf="usuarioLogueado != null">
    <div class="col-md-9 mx-auto mt-4" *ngIf="usuarioLogueado.perfil=='paciente' || usuarioLogueado.perfil=='administrador'">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center mb-3">Solicitar Turno</h1>
                <div class="row formulario">
                    <div class="form-group col-md-6 mb-3">
                        <h4 class="d-flex justify-content-between align-items-center mb-3"
                            *ngIf="listaEspecialidades != null">
                            <h4 class="text-primary text-center">Especialidades</h4>
                        </h4>
                        <ul class="list-group mb-3 ">
                            <li class="list-group-item d-flex justify-content-between lh-sm especialidad"
                                *ngFor="let especialidad of listaEspecialidades let i=index"
                                (click)="clickEspecialidad(especialidad)">
                                <div class="marco">
                                    <h6 class="my-0 text-info">{{especialidad.descripcion}}</h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group col-md-6 mb-3" *ngIf="especialidadSeleccionada != null">
                        <!-- <div class="form-group col-md-6 mb-3" *ngIf="listaEspecialistasCalificados != null"> -->
                        <h4 class="d-flex justify-content-between align-items-center mb-3"
                            *ngIf="listaEspecialistasCalificados != null">
                            <h4 class="text-primary text-center">Lista de medicos calificados</h4>
                        </h4>
                        <ul class="list-group mb-3 ">
                            <li class="list-group-item d-flex justify-content-between lh-sm especialidad"
                                *ngFor="let especialista of listaEspecialistasCalificados let i=index"
                                (click)="clickEspecialista(especialista)">
                                <div class="marco">
                                    <h6 class="my-0 text-info">{{especialista.nombre}} {{especialista.apellido}}</h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <div class="col-md-9 mx-auto mt-4" *ngIf="usuarioLogueado.perfil=='administrador' && especialistaSeleccionado != null">
                <!-- <div class="card">
                    <div class="card-body"> -->
                        <h4 class="d-flex justify-content-between align-items-center mb-3" *ngIf="listaPacientes != null">
                            <h4 class="text-primary text-center">Lista de pacientes</h4>
                        </h4>
                        <ul class="list-group mb-3 ">
                            <li class="list-group-item d-flex justify-content-between lh-sm especialidad"
                                *ngFor="let paciente of listaPacientes let i=index"
                                (click)="clickPaciente(paciente)">
                                <div class="marco">
                                    <h6 class="my-0 text-info">{{paciente.nombre}}</h6>
                                </div>
                            </li>
                        </ul>
                    <!-- </div>
                </div> -->
            </div>

        </div>
    </div>
    <!-- <div class="form-group col-md-4 mb-3" *ngIf="usuarioLogueado.perfil=='administrador' && especialistaSeleccionado != null">
        <div class="card">
            <div class="card-body">
                <h4 class="d-flex justify-content-between align-items-center mb-3" *ngIf="listaPacientes != null">
                    <h4 class="text-primary text-center">Lista de pacientes</h4>
                </h4>
                <ul class="list-group mb-3 ">
                    <li class="list-group-item d-flex justify-content-between lh-sm especialidad"
                        *ngFor="let paciente of listaPacientes let i=index"
                        (click)="clickPaciente(paciente)">
                        <div class="marco">
                            <h6 class="my-0 text-info">{{paciente.nombre}}</h6>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
</div>

<!-- <div class="row" *ngIf="especialidadElejida != null && especialistaElejido != null && pacienteElejido != null"> -->
<div class="row" *ngIf="especialidadSeleccionada != null && especialistaSeleccionado != null">
    <div class="row">
    <div class="col-md-11 mx-auto mt-4">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center mb-3">Lista de turnos disponibles</h1>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th class="text-center">Horario/s</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let dia of listaObjetosDias">
                        <tr>
                        <tr *ngIf="dia.diaSemana != 'DOMINGO' && dia.data.trabaja != false ">
                            <td class="text-left">{{dia.dia}}</td>
                            <td class="text-center"><button class="btn btn-outline-success"
                                *ngFor="let horario of dia.turnos let i=index"
                                (click)="reservarTurno(horario, dia)">{{horario}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
