<app-navbar></app-navbar>
<!-- <br>< br> -->

<div class="row" *ngIf="usuarioLogueado != null">
    <div class="col-md-10 mx-auto">
        <div class="back"><!--<div class="card">-->
            <div class="card-body">
                <h1 class="text-center mb-3">Mi perfil</h1>
                <div class="row">

                    <div [@heartBeatOnEnter]  class="col-md-6 mx-auto mt-2 text-center">
                    <!-- <div class="col-md-6 mx-auto mt-2 text-center" *ngIf="usuario.perfil=='paciente'"> -->
                        <h4>imagen Perfil:</h4>
                        <img src="{{usuarioLogueado.imagenPerfil}}">
                    </div>

                    <div class="col-md-3 mx-auto mt-2 text-center">
                        <h4>Nombre: {{usuarioLogueado.nombre}}</h4>
                    </div>
                    <div class="col-md-3 mx-auto mt-2 text-center">
                        <h4>Apellido: {{usuarioLogueado.apellido}}</h4>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <h4>Edad: {{usuarioLogueado.edad}}</h4>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <h4>DNI: {{usuarioLogueado.dni}}</h4>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <h4>Email: {{usuarioLogueado.email}}</h4>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center"> 
                        <h4>Perfil: {{usuarioLogueado.perfil}}</h4>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center" *ngIf="usuarioLogueado.perfil=='paciente'">
                        <h4>imagen Perfil 2:</h4>
                        <img src="{{usuarioLogueado.imagenPerfil2}}" class="tamanio" alt="foto 2 del usuario">
                    </div>

                     <div class="col-md-12 mx-auto mt-2 text-center" *ngIf="usuarioLogueado.perfil=='especialista'">

                        <!-- <div class="col-md-8">
                            <div class="btn-group">
                              <button type="button" class="btn btn-outline-info" routerLink="/solicitarturno">MIS TURNOS</button>
                              <button type="button" class="btn btn-outline-info" routerLink="/mishorarios">Mis horarios</button>
                              <button type="button" class="btn btn-outline-info" routerLink="/solicitarturno">PACIENTES</button>
                            </div>
                          </div> -->
                </div>
                <div *ngIf="usuarioLogueado.perfil == 'especialista'">
                  <app-mis-horarios></app-mis-horarios>
                </div>

                <div *ngIf="usuarioLogueado.perfil == 'paciente'">
                    <hr>

                    <div class="row">
                        <div class="col-md-10 mx-auto mt-4">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="text-center">Historia clínica</h3>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">

                                        <!-- <div *ngFor="let turno of listaHCPacienteSel let i=index"> -->
                                        <div *ngFor="let turno of listaTurnos let i=index">
                                            <div class="form-control" id="exampleFormControlTextarea1" rows="1" maxlength="20"
                                            *ngIf="turno.historiaClinica.altura != ''">
                                                Dia Turno: {{turno.diaTurno}}</div>
                                            <div class="form-control" id="exampleFormControlTextarea1" rows="1" maxlength="20"
                                            *ngIf="turno.historiaClinica.altura != ''">
                                                Especialidad: {{turno.especialidad?.descripcion}}</div>
                            
                                            <!-- <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                                                <div                                       *ngIf="turno.historiaClinica.altura != ''">
                                                    Altura: {{turno.historiaClinica.altura}}</div>
                                                <div *ngIf="turno.historiaClinica.peso != ''">
                                                    Peso: {{turno.historiaClinica.peso}}</div>
                                            </div>     -->
                                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="50"
                                            *ngIf="turno.historiaClinica.altura != ''">
                                                Altura: {{turno.historiaClinica.altura}}</div>
                                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="50"
                                            *ngIf="turno.historiaClinica.peso != ''">
                                                Peso: {{turno.historiaClinica.peso}}</div>
                                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300"
                                            *ngIf="turno.historiaClinica.temperatura != ''">
                                                Temperatura: {{turno.historiaClinica.temperatura}}</div>
                                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300"
                                            *ngIf="turno.historiaClinica.presion != ''">
                                                Presión: {{turno.historiaClinica.presion}}</div>
                
                                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300" 
                                                *ngIf="turno.historiaClinica.clave1 != ''">
                                                {{turno.historiaClinica.clave1}} : {{turno.historiaClinica.valor1}}</div>
                                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300" 
                                                *ngIf="turno.historiaClinica.clave2 != ''">
                                                {{turno.historiaClinica.clave2}} : {{turno.historiaClinica.valor2}}</div>
                                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300" 
                                                *ngIf="turno.historiaClinica.clave3 != ''">
                                                {{turno.historiaClinica.clave3}} : {{turno.historiaClinica.valor3}}</div>
                                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300" 
                                                *ngIf="turno.historiaClinica.clave4 != ''">
                                                {{turno.historiaClinica.clave4}} : {{turno.historiaClinica.valor4}}</div>
                                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300" 
                                                *ngIf="turno.historiaClinica.clave5 != ''">
                                                {{turno.historiaClinica.clave5}} : {{turno.historiaClinica.valor5}}</div>
                                        </div>
                
                                        <!-- <h6 class="text-center">Por favor ingrese un comentario/reseña del turno </h6> -->
                                        <!-- <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                                            Altura: {{usuarioLogueado.historiaClinica.altura}}</div>
                                        <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                                            Peso: {{usuarioLogueado.historiaClinica.peso}}</div>
                                        <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                                            Temperatura: {{usuarioLogueado.historiaClinica.temperatura}}</div>
                                        <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                                            Presión: {{usuarioLogueado.historiaClinica.presion}}</div>
                                        </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-outline-dark btn-block" (click)="generatePDF()">
                        Generar PDF con Historia Clínica      
                    </button>

                    <!-- <app-detalle-historia-clinica></app-detalle-historia-clinica> -->
                </div>
            </div>
        </div>
    </div>
</div>