<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <a class="my-0 mr-md-auto font-weight-normal" routerLink="/bienvenido"><h5>
      <!-- Clínica online -->
      {{ 'Clinica' | translate }}
    </h5></a>
    <nav class="my-2 my-md-0 mr-md-3">
      <!-- <a class="p-2 text-dark" routerLink="/quiensoy">Quien soy?</a> -->
      <a class="p-2 text-dark" href="https://github.com/AndresWuthrich/clinicaonlineadw">
        <!-- en GitHub -->
        {{ 'Git' | translate }}
      </a>

        <!-- <div>{{ 'Hello' | translate }}</div> -->
        <label>
          <!-- Seleccione idioma -->
          {{ 'Idioma' | translate }}
          <select #langSelect (change)="changeLang(langSelect.value)">
              <option *ngFor="let lang of langs" [value]="lang">
                  {{lang}}
              </option>
          </select>
      </label>
    
      <div *ngIf="userLogueado | async as user">
        <nav class="my-2 my-md-0 mr-md-3">
          <!-- <a class="p-2 text-dark" routerLink="/usuarios">Usuarios</a> -->
          <!-- <a class="p-2 text-dark" routerLink="/miperfil">Mi perfil</a> -->
          <!-- <a class="p-2 text-dark" routerLink="/misturnos">Mis turnos</a>
          <a class="p-2 text-dark" routerLink="/turno">Turnos</a> -->
        </nav>
      </div>
    </nav>
    
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white" *ngIf="userLogueado | async as user; else login">
      <h5 class="my-0 mr-md-auto font-weight-normal">
        <!-- Bienvenidx -->
        {{ 'Bienvenidx' | translate }} 
        <i>{{ (userLogueado | async)?.email | uppercase }}</i> !!  </h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-primary" (click)='Logout()'>Logout</a>
        <!-- <div *ngIf="perfil!='paciente' && perfil!='especialista'"> -->
          <!-- <a class="btn btn-outline-primary" routerLink="/solicitarturno">Solicitar Turno</a> -->
        <!-- </div>   -->
      </nav> 
    </div>
    <ng-template #login>
      <!-- <a class="btn btn-outline-primary" routerLink="/login">Login</a>
      <a class="btn btn-outline-primary" routerLink="/registro">Registrarse</a> -->
    </ng-template>
  </div>
