<!-- <p>turno-encuesta works!</p> -->

<div class="row">
    <div class="col-md-10 mx-auto mt-4">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Encuesta turno</h3>
            </div>
            <div class="card-body">
                <div class="row formulario">
                    <div class="col-md-6 mb-5 text-center">
                        <label class="text-center posicion" for="canal">Por dónde nos conoció?</label>
                        <div>
                            <p id="canal">
                                <input [(ngModel)]="canal" type="checkbox" id="internet" value="internet">Internet
                                <br>
                                <input [(ngModel)]="canal" type="checkbox" id="tv" value="tv">tv
                                <br>
                                <input [(ngModel)]="canal" type="checkbox" id="radio" value="radio">Radio
                                <br>
                                <input [(ngModel)]="canal" type="checkbox" id="recomendación" value="recomendación">Recomendación
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 mb-5 text-center">
                        <label class="text-center posicion" for="presta">Evalúe prestaciones</label>
                        
                        <div>
                            <!-- <input type="range" min="1" max="10" [(ngModel)]="prestaciones"> -->
                            <input type="range" list="tickmarks" min="1" max="10" step="1" [(ngModel)]="prestaciones">
                            <datalist id="tickmarks">
                                <option value="0" label="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4"></option>
                                <option value="5" label="5"></option>
                                <option value="6"></option>
                                <option value="7"></option>
                                <option value="8"></option>
                                <option value="9"></option>
                                <option value="10" label="10"></option>
                            </datalist>
                        </div>
                    </div>

                    <div class="col-md-6 mb-5 text-center">
                        <label class="text-center posicion" for="recomendar">¿Recomendaría nuestra clinica?</label>
                        <div>
                            <p class="recomendar">
                                <input type="radio" id="recomendarSI" name="recomendar" value="SI" [(ngModel)]="recomendar" checked>
                                <label for="recomendarSI" id="recomendarSI">SI</label>
                                <input type="radio" class="espacio" id="recomendarNO" [(ngModel)]="recomendar" name="recomendar" value="NO">
                                <label for="recomendarNO" id="recomendarNO">NO</label>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-12 mb-5">
                        <label for="exampleTextarea" class="text-center">Ingrese su opinión o mejoras</label>
                        <textarea class="form-control tamanio" id="exampleTextarea" rows="3" maxlength="240"
                            [(ngModel)]="mensaje"></textarea>
                    </div>

                    <!-- <h6 [(ngModel)]="error" class="invalid mb-3 text-center" value="error" name="error" ngDefaultControl> <b>{{error | errores}}</b></h6> -->
                    <div class="d-grid gap-2 mx-auto">
                        <button class="btn btn-success" type="button" (click)="Confirmar(true)">CONTINUAR</button>
                        <button class="btn btn-danger" type="button" (click)="Confirmar(false)">CANCELAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
