<p>detalle-historia-clinica works!</p>

<h4><strong>Historia clínica</strong></h4><br>

<div class="row">
  <div class="col-md-10 mx-auto mt-4">
      <div class="card">
          <div class="card-header">
              <h3 class="text-center">Reseña / comentario</h3>
          </div>
          <div class="card-body">
              <div class="mb-3">
                  
                  <!-- <h6 class="text-center">Por favor ingrese un comentario/reseña del turno </h6> -->
                  <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                    Altura: {{turnoActual.comentarioEspecialista}}</textarea>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                    Peso: {{turnoActual.comentarioPaciente}}</textarea>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                    Temperatura: {{turnoActual.comentarioPaciente}}</textarea>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                    Presión: {{turnoActual.comentarioPaciente}}</textarea> -->
                </div>
          </div>
      </div>
  </div>
</div>
