<app-navbar></app-navbar>
<!-- <br>< br> -->

<!-- <button class="btn btn-primary" (click)="condicion = condicion">Paciente</button>
<button class="btn btn-primary" (click)="condicion = !condicion">Especialista</button> -->
<!-- <button class="btn btn-primary button" (click)="elegirPerfil('paciente')" *ngIf="perfil!='paciente' && perfil!='especialista'">Paciente</button>
<button class="btn btn-primary button" (click)="elegirPerfil('especialista')" *ngIf="perfil!='paciente' && perfil!='especialista'">Especialista</button> -->
<div class="row">
  <!-- <div class="col-md-4 mx-auto mt-4"> -->

  <div class="col-md-10">
    <div class="card">
        <div class="card-body">

          <!-- <form class="form" [formGroup]="formAdmin" (ngSubmit)="registroAdmin()" *ngIf="perfil=='paciente' || perfil=='especialista'"> -->
        <form class="form" [formGroup]="formAdmin" (ngSubmit)="registro()">
            <div class="row">
            <div class="col-md-12 mb-5">
              <h2>Registro Admin</h2>
            </div>
          </div>
          <div class="row formulario">
            <div class="col-md-6 mb-2">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre" formControlName='nombre'>
              <small class="invalid" *ngIf="formAdmin.get('nombre')?.errors?.required && formAdmin.get('nombre')?.touched">El nombre es requerido</small>
            </div>
            <div class="col-md-6 mb-2">
              <label for="apellido" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellido" formControlName='apellido'>
              <small class="invalid" *ngIf="formAdmin.get('apellido')?.errors?.required && formAdmin.get('apellido')?.touched">El apellido es requerido</small>
            </div>
            <div class="col-md-6 mb-2">
              <label for="edad" class="form-label">Edad</label>
              <input type="number" class="form-control" id="edad" placeholder="Ingrese edad" formControlName='edad'>
              <small class="invalid" *ngIf="formAdmin.get('edad')?.errors?.required && formAdmin.get('edad')?.touched">La edad es requerida</small>
              <small class="invalid" *ngIf="formAdmin.get('edad')?.errors?.min || formAdmin.get('edad')?.errors?.max && formAdmin.get('edad')?.touched ">La edad debe ser entre 18 a 99 años</small>
            </div>

            <div class="col-md-6 mb-2">
              <label for="dni" class="form-label">DNI</label>
              <input type="number" class="form-control" id="dni" placeholder="Ingrese dni" formControlName='dni'>
              <small class="invalid" *ngIf="formAdmin.get('dni')?.errors?.required && formAdmin.get('dni')?.touched">El dni es requerido</small>
              <small class="invalid" *ngIf="formAdmin.get('dni')?.errors?.min && formAdmin.get('dni')?.touched">El dni debe ser mayor a 1.000.000</small>
            </div>

            <div class="col-md-12 mb-2">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Ingrese email" formControlName='email'>
              <small class="invalid" *ngIf="formAdmin.get('email')?.errors?.required && formAdmin.get('email')?.touched">El email es requerido</small>
            </div>
            <div class="col-md-12 mb-2">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Ingrese password" formControlName='password'>
              <small class="invalid" *ngIf="formAdmin.get('password')?.errors?.required && formAdmin.get('password')?.touched">La password es requerida</small>
              <small class="invalid" *ngIf="formAdmin.get('password')?.errors?.minLength && formAdmin.get('password')?.touched">La password debe tener mínimo 6 caracteres</small>
            </div>

            <div class="col-md-12 mb-2">
              <label for="imagen" class="form-label">Imagen de perfil</label>
              <input type="file" class="form-control" id="imagen" placeholder="Ingrese imagen de perfil" formControlName='imagen' (change)="cargarImagen($event)">
              <small class="invalid" *ngIf="formAdmin.get('imagen')?.errors?.required && formAdmin.get('imagen')?.touched">La imagen de perfil es requerida</small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-grid gap-2">
              <!-- <button type="submit" class="btn btn-primary btn-block" [disabled]="signup"  [disabled]='formRegistro.invalid'> -->
              <button type="submit" class="btn btn-primary btn-block" [disabled]="signup">
                  <span *ngIf="signup" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Registro
              </button>
            </div>
            <div class="col-md-12 d-grid gap-2">
              <button class="btn btn-danger btn-block" routerLink="/">Me arrepentí</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <button (click)="exportAsXLSXEspecialistas()">
      <i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i></button>
  
    <div class="col-md-12 col-lg-12" id="box">
      <div class="card">
          <div class="card-body">
              <h2>Especialistas</h2>
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>Email</th>
                          <!-- <th>Especialidad</th> -->
                          <th>Estado</th>
                          <th>Aprobar</th>
                          <th>Desaprobar</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let usuario of listaUsuariosEspecialistas ">
                          <td>{{usuario.nombre}}</td>
                          <td>{{usuario.apellido}}</td>
                          <td>{{usuario.email}}</td>
                          <!-- <td>{{usuario.especialidad}}</td> -->
                          
                          <!-- <td *ngFor="let especialidad of listaEspecialidadesUsuario">
                            <h6 class="text-info">{{especialidad.descripcion}}</h6>
                          </td>
                           -->
                          
                          <td>{{usuario.cuentaAprobada}}</td>
                          <td><button class="btn btn-success" *ngIf="usuario.perfil=='especialista'"
                                  (click)="aprobarUsuario(usuario, true)">Aprobar</button></td>
                          <td><button class="btn btn-danger" *ngIf="usuario.perfil=='especialista'"
                                  (click)="aprobarUsuario(usuario, false)">Desaprobar</button></td>

                          <td *ngIf="usuario.perfil != 'especialista'"></td>
                          <td *ngIf="usuario.perfil != 'especialista'"></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>

  <app-historia-clinica></app-historia-clinica>
  <!-- <b>Exporting footballer data in excel by clicking below button</b><br>
  
  <button (click)="exportAsXLSX()">
    <i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i></button>
    
  <table class="table table-striped">
    <tr>
      <td><b>Player Name</b></td>
      <td><b>Player Country</b></td>
      <td><b>Player Club</b></td>
    </tr>
    <tbody>
    <tr *ngFor="let item of dataOfFootballers">
      <td>{{item.playerName}}</td>
      <td>{{item.playerCountry}}</td>
      <td>{{item.playerClub}}</td>
    </tr>
    </tbody>
  </table> -->

</div>
</div>
