<hr>
<h2 class="text-center mb-3">Mis horarios de atención a pacientes</h2>

<div *ngIf="usuarioLogueado != null">

  <table class="table table-hover">
      <thead>
          <tr>
              <th>Laborable</th>
              <th class="text-center">Dia</th>
              <th class="text-center">Inicio jornada</th>
              <th class="text-center">Fin jornada</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of usuarioLogueado.horarioAtencion let i=index">
              <td><input type="checkbox" name="" [(ngModel)]="data.estado" [value]="data.estado" id=""></td>
              <td>{{data.literal}}</td>
              <!-- <td><input type="range" min="8" max="11" [(ngModel)]="data.inicio"> -->
              <td><input type="number" [(ngModel)]="data.inicio">
              </td>
              <!-- <td><input type="range" min="14" max="19" *ngIf="data.literal != 'Sabado'" -->
              <td><input type="number" *ngIf="data.literal != 'Sabado'"
                      [(ngModel)]="data.fin">
                      <!-- <input type="range" min="12" max="14" *ngIf="data.literal == 'Sabado'" -->
                      <input type="number" *ngIf="data.literal == 'Sabado'"
                      [(ngModel)]="data.fin">
              </td>
          </tr>
      </tbody>
  </table>
  <button class="btn btn-primary btn-block" (click)="guardar()">Guardar</button>

</div>
