<app-navbar></app-navbar>
<p>informes works!</p>

<div class="card">
    <div class="card-body">
        <h2 class="text-center">Informes</h2>
        <div class="row">
            <button class="btn btn-outline-primary">Log de ingresos al sistema</button>
            <button class="btn btn-outline-primary">Cantidad de turnos por especialidad</button>
            <button class="btn btn-outline-primary">Cantidad de turnos por día</button>
            <button class="btn btn-outline-primary">Cantidad de turnos solicitado por médico en un lapso de tiempo</button>
            <button class="btn btn-outline-primary">Cantidad de turnos finalizados por médico en un lapso de tiempo</button>

                <!-- <button class="btn btn-primary btn-block mt-3" (click)="descargar(1)">Descargar logs de ingresos
                    al sistema &nbsp;&nbsp; <i class="fa fa-download"></i></button>
                <button class="btn btn-primary btn-block mt-3" (click)="ver(2)">Cantidad de turnos por
                    especialidad</button>
                <button class="btn btn-primary btn-block mt-3" (click)="ver(3)">Cantidad de turnos por
                    día</button>
                <button class="btn btn-primary btn-block mt-3">Cantidad de turnos solicitado por médico en un
                    lapso de tiempo</button>
                <button class="btn btn-primary btn-block mt-3">Cantidad de turnos finalizados por médico en un
                    lapso de tiempo</button>
     -->
            </div>
    </div>
</div>

<!-- <app-turno-informes></app-turno-informes> -->