
.card{
    background-image:url('../../../assets/imagenes/back4.jpg');
    /* height: 250px; */
    /* width: 500px; */
    background-repeat: no-repeat;
    background-position: 100%;
    /* border-radius: 3%; */
    background-size: 100% auto;
    width: 100%;
    height: 100%;
}

