<app-navbar></app-navbar>
<!-- <p>pacientes works!</p> -->

<div class="col-md-10 mx-auto mt-4">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Pacientes</h3>
        </div>
        <div class="card-body">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Email</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let usuario of listaUsuariosPacientes ">
                  <!-- <tr *ngFor="let usuario of listaUsuariosPacientesSel "> -->
                      <td>{{usuario.nombre}}</td>
                      <td>{{usuario.apellido}}</td>
                      <td>{{usuario.email}}</td>

                      <td>
                        <button type="button" class="btn btn-info"
                        (click)="historiaClinica(usuario)" 
                        *ngIf="usuario.historiaClinica.altura != null && usuario.historiaClinica.altura != ''" >
                        Historia clínica</button>

                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

<div *ngIf="usuarioActual != null">
    <hr>
    <div class="row">
        <div class="col-md-10 mx-auto mt-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Historia clínica</h3>
                </div>
                <div class="card-body">
                    <div class="mb-3">

                        <div *ngFor="let turno of listaHCPacienteSel let i=index">
                        <!-- <div *ngFor="let turno of listadoTurnos let i=index"> -->
                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                                Dia Turno: {{turno.diaTurno}}</div>
                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                                Especialidad: {{turno.especialidad?.descripcion}}</div>
            
                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300"
                            *ngIf="turno.historiaClinica.altura != ''">
                                Altura: {{turno.historiaClinica.altura}}</div>
                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300"
                            *ngIf="turno.historiaClinica.peso != ''">
                                Peso: {{turno.historiaClinica.peso}}</div>
                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300"
                            *ngIf="turno.historiaClinica.temperatura != ''">
                                Temperatura: {{turno.historiaClinica.temperatura}}</div>
                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300"
                            *ngIf="turno.historiaClinica.presion != ''">
                                Presión: {{turno.historiaClinica.presion}}</div>

                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300" 
                                *ngIf="turno.historiaClinica.clave1 != ''">
                                {{turno.historiaClinica.clave1}} : {{turno.historiaClinica.valor1}}</div>
                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300" 
                                *ngIf="turno.historiaClinica.clave2 != ''">
                                {{turno.historiaClinica.clave2}} : {{turno.historiaClinica.valor2}}</div>
                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300" 
                                *ngIf="turno.historiaClinica.clave3 != ''">
                                {{turno.historiaClinica.clave3}} : {{turno.historiaClinica.valor3}}</div>
                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300" 
                                *ngIf="turno.historiaClinica.clave4 != ''">
                                {{turno.historiaClinica.clave4}} : {{turno.historiaClinica.valor4}}</div>
                            <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300" 
                                *ngIf="turno.historiaClinica.clave5 != ''">
                                {{turno.historiaClinica.clave5}} : {{turno.historiaClinica.valor5}}</div>
                        </div>


                        <!-- <h6 class="text-center">Por favor ingrese un comentario/reseña del turno </h6> -->
                        <!-- <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                            Altura: {{usuarioActual.historiaClinica.altura}}</div>
                        <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                            Peso: {{usuarioActual.historiaClinica.peso}}</div>
                        <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                            Temperatura: {{usuarioActual.historiaClinica.temperatura}}</div>
                        <div class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300">
                            Presión: {{usuarioActual.historiaClinica.presion}}</div> -->
                        </div>
                    </div>
                </div>
                <button class="btn btn-outline-dark btn-block" (click)="generatePDF()">
                    Generar PDF con Historia Clínica      
                </button>

        </div>
        </div>
    </div>
