<p>historia-clinica works!</p>

<div class="row">
    <div class="col-md-10 mx-auto mt-4">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Historia Clinica</h3>
            </div>
            <div class="card-body">
                <div class="row formulario">
                    <div class="form-group col-md-6 mb-6">
                        <label for="altura">Altura</label>
                        <input type="text" id="altura" class="form-control" [(ngModel)]="altura">
                    </div>
                    <div class="form-group col-md-6 mb-6">
                        <label for="peso">Peso</label>
                        <input type="text" id="peso" class="form-control" [(ngModel)]="peso">
                    </div>

                    <div class="form-group col-md-6 mb-6">
                        <label for="temperatura">Temperatura</label>
                        <input type="text" id="temperatura" class="form-control" [(ngModel)]="temperatura">
                    </div>
                    <div class="form-group col-md-6 mb-6">
                        <label for="presion">Presion</label>
                        <input type="text" id="presion" class="form-control" [(ngModel)]="presion">
                    </div>

                    <div class="form-group col-md-6 mb-6">
                        <label for="clave1">Dato dinámico 1</label>
                        <input type="text" id="clave1" class="form-control" [(ngModel)]="clave1">

                    </div>
                    <div class="form-group col-md-6 mb-6">
                        <label for="valor1">Valor 1</label>
                        <input type="text" id="valor1" class="form-control" [(ngModel)]="valor1">
                    </div>

                    <div class="form-group col-md-6 mb-6">
                        <label for="clave2">Dato dinámico 2</label>
                        <input type="text" id="clave2" class="form-control" [(ngModel)]="clave2">
                    </div>
                    <div class="form-group col-md-6 mb-6">
                        <label for="valor2">Valor 2</label>
                        <input type="text" id="valor2" class="form-control" [(ngModel)]="valor2">
                    </div>

                    <div class="d-grid gap-2 mx-auto">
                        <button class="btn btn-success" type="button" (click)="Confirmar(true)">CONTINUAR</button>
                        <button class="btn btn-danger" type="button" (click)="Confirmar(false)">CANCELAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>